<div class="app-my-answer">
    <div class="row">
        <div class="col-md-6">

            <form (submit)="send()">
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="form.name">
                </div>

                <div class="form-group">
                    <label>Со мной придут</label>
                    <input type="number" class="form-control" name="withUserCount" [(ngModel)]="form.withUserCount">
                </div>

                <div class="form-group">
                    <select class="form-control" name="willCome" [(ngModel)]="form.willCome">
                        <option [ngValue]="null">Нужно выбрать</option>
                        <option [ngValue]="true">Я точно приду</option>
                        <option [ngValue]="false">Я точно не приду</option>
                    </select>
                </div>

                <button
                        #submit [disabled]="wait" type="submit" class="btn btn-primary"
                        data-placement="bottom" title="Упс!"
                        data-content="Заполните форму, когда все будет известно!">Отправить</button>
            </form>
        </div>
    </div>
</div>